In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use("ggplot")

In [57]:
import string

# Data preparation

In [48]:
df = pd.read_csv("data/train2.tsv", sep="\t", names=[
    "id",
    "json_id",
    "label",
    "statement",
    "subject",
    "speaker",
    "job_title",
    "state",
    "party_affiliation",
    "barely_true_counts",
    "false_counts",
    "half_true_counts",
    "mostly_true_counts",
    "pants_on_fire_counts",
    "context",
    "justification"
])

In [49]:
df.head(2)

,id,json_id,label,statement,subject,speaker,job_title,state,party_affiliation,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,context,justification
0,0,2635.json,false,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer,That's a premise that he fails to back up. Ann...
1,1,10540.json,half-true,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.,"Surovell said the decline of coal ""started whe..."

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10269 entries, 0 to 10268
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10269 non-null  int64
 1   json_id               10269 non-null  object
 2   label                 10269 non-null  object
 3   statement             10269 non-null  object
 4   subject               10268 non-null  object
 5   speaker               10268 non-null  object
 6   job_title             7366 non-null   object
 7   state                 8057 non-null   object
 8   party_affiliation     10268 non-null  object
 9   barely_true_counts    10268 non-null  float64
 10  false_counts          10268 non-null  float64
 11  half_true_counts      10268 non-null  float64
 12  mostly_true_counts    10268 non-null  float64
 13  pants_on_fire_counts  10268 non-null  float64
 14  context               10168 non-null  object
 15  justification         10154 non-null  object
dtypes: float64(5), int64(1), object(10)
memory usage: 1.3+ MB

In [51]:
df[["statement", "justification"]] = df[["statement", "justification"]].astype(str)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10269 entries, 0 to 10268
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10269 non-null  int64
 1   json_id               10269 non-null  object
 2   label                 10269 non-null  object
 3   statement             10269 non-null  object
 4   subject               10268 non-null  object
 5   speaker               10268 non-null  object
 6   job_title             7366 non-null   object
 7   state                 8057 non-null   object
 8   party_affiliation     10268 non-null  object
 9   barely_true_counts    10268 non-null  float64
 10  false_counts          10268 non-null  float64
 11  half_true_counts      10268 non-null  float64
 12  mostly_true_counts    10268 non-null  float64
 13  pants_on_fire_counts  10268 non-null  float64
 14  context               10168 non-null  object
 15  justification         10269 non-null  object
dtypes: float64(5), int64(1), object(10)
memory usage: 1.3+ MB

## Add statement and justification length information

In [53]:
df["statement_len"] = df["statement"].apply(len)
df["justification_len"] = df["justification"].apply(len)

In [54]:
df = df.drop(["id", "json_id"], axis=1)

In [55]:
df.head(2)

,label,statement,subject,speaker,job_title,state,party_affiliation,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,context,justification,statement_len,justification_len
0,false,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer,That's a premise that he fails to back up. Ann...,82,248
1,half-true,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.,"Surovell said the decline of coal ""started whe...",141,637

## Add punctuations count per 100 characters

In [58]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [70]:
df["punctuations"] = df["statement"].apply(lambda s: sum(map(s.count, string.punctuation)))

## Describe dataset

In [82]:
df.describe()

,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,statement_len,justification_len,punctuations
count,10268.000000,10268.000000,10268.000000,10268.000000,10268.000000,10269.000000,10269.000000,10269.000000
mean,11.561258,13.314959,17.197215,16.492111,6.203253,106.294381,425.242964,2.754114
std,19.007031,24.141501,35.949606,36.252653,16.118404,46.150477,314.071139,2.033661
min,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,3.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,73.000000,270.000000,1.000000
50%,2.000000,2.000000,3.000000,3.000000,1.000000,99.000000,394.000000,2.000000
75%,12.000000,15.000000,13.000000,11.000000,5.000000,132.000000,534.000000,4.000000
max,70.000000,114.000000,160.000000,163.000000,105.000000,1109.000000,9394.000000,40.000000

# Understanding features